#-----------------------------------------------
packages:
    yum:
        jq: []
        java-1.8.0-openjdk: []

#-----------------------------------------------
sources:
    /home/ec2-user: http://astahov.net/certs.zip

#-----------------------------------------------
commands:
    create_httpd_dir:
        command: "mkdir -p /home/ec2-user/httpd"
    remove_java7:
        command: "yum -y remove java-1.7.0-openjdk"

#-----------------------------------------------

